@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    margin: 0;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Playfair Display', serif;
}